.boardgame {
    height:auto;
    width:100%;
}

.boardgame img {
    width:100%;
}

#gameCanvas {
    max-width: 550px;
    padding:10px;
    z-index:0;
}

#board{
    filter: drop-shadow(0 0 0.75rem black);
}

#character {
    z-index: 2;
}

.fleur {
    z-index: 3;
}

.paysageContainer {
    position: relative;
}

.paysage {
    position: absolute;
    left:0;
}

.giletjaune {
    z-index: 3;
}

#triviaContainer {
    max-width: 550px;
    padding:10px;
}

.menu-choice {
    position: absolute;
    top: 85%;
    width:100%;
    z-index: 4;
}

.menu-choice button {
    width: 100px;
}

.menu-choice button:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

h1 {
    font-size:5em;
    color:rgb(94, 134, 221);
    font-family: 'Lobster Two', cursive;
    font-weight:900;
    text-shadow: 2px 2px 0px rgb(242, 244, 248);
    padding-top:10%;
}

/* pas touche, modifs des paragraphes */
.p-app {
    font-size:1.5em;
    line-height: 1.1em;
    padding-left:5%;
    padding-right:5%;
}

.button-questions {
    margin:2vw;
}

/* 
===================================
           BUBBLE / POPOVER
=================================== */
.popover {
    position: absolute;
    left: 15%;
    top: 15%;
    font-size: 1.5em;
    width:75vw;
    max-width: 400px;
    font-weight: bold;
    /* background-color:rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border-radius: 10px;
    z-index: 10000;
}