.boardgame {
    height:auto;
    width:100%;
}

.boardgame img {
    width:100%;
}

#gameCanvas {
    max-width: 550px;
    padding:10px;
    z-index:0;
}

#board{
    border: 5px solid rgb(216, 215, 215);
}

#character {
    z-index: 2;
}

.fleur {
    z-index: 3;
}

.paysageContainer {
    position: relative;
}

.paysage {
    position: absolute;
    left:0;
}

.giletjaune {
    z-index: 3;
}

#triviaContainer {
    max-width: 550px;
    padding:10px;
}

.menu-choice {
    position: absolute;
    top: 85%;
    width:100%;
    z-index: 4;
}

.menu-choice button {
    width: 100px;
}

.menu-choice button:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

h1 {
    font-size:5em;
    color:rgb(94, 134, 221);
    font-family: 'Lobster Two', cursive;
    font-weight:900;
    text-shadow: 2px 2px 0px rgb(242, 244, 248);
    padding-top:2%;
}

/* pas touche, modifs des paragraphes */
.p-app {
    font-size:1.8em;
    line-height: 1.1em;
    padding:5%;
    background-color:rgb(230, 231, 233);
    text-align:justify;
}

.button-questions {
    margin:2%;
}

/* bouton next day */
.next-day {
    font-size:1.3em;
    font-weight:700;
    background-color: rgb(99, 160, 97);
    margin:auto;
    padding:5px;
    margin-bottom:1%;
}

/* 
===================================
           BUBBLE / POPOVER
=================================== */
.popover {
    position: absolute;
    left: 15%;
    top: 15%;
    font-size: 1.5em;
    width:75vw;
    max-width: 400px;
    font-weight: bold;
    /* background-color:rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border-radius: 10px;
    z-index: 10000;
}